body{
    
}
.heading {
    background-color: skyblue;
   
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.links{
    display: flex;
    list-style-type: none;
    gap: 16px;
    
}
.left, .right {
    
}

.boxp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.randoinfo {
    text-align: center;
}
.pictext {
    display: flex;
    justify-content: center;
    text-align: center
    margin:50px auto;
}
.quote {
    display: flex;
    background-color: darksalmon;
    flex-direction: column;
    align-items: center;
}
.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
a:link {
    text-decoration: none;
}
p {
    max-width: 300px
}
.caption {
    margin: 0px 20px;
    display:inline-block
}
.copyright {
    display: flex;
    justify-content: center;
    background-color: skyblue;
}